<div class="container">
  <h1>About</h1>
  <p>Paris Whitney Hilton was born February 17, 1981. She is an American media personality, businesswoman, socialite, model, singer, actress, fashion designer, and DJ. Best known for simly being a celebrity, a person who's known for being known. She is a great-granddaughter of Conrad Hilton, the founder of Hilton Hotels. Her fame and wealth was inherited just like a famous Hilton name.</p>
</div>
