<div class="container">
  <img src="./images/img-1.jpg" alt="" class="gallery-img">
  <img src="./images/img-2.jpg" alt="" class="gallery-img">
  <img src="./images/170px-Paris_Hilton_Cannes_2016_4.jpg" alt="" class="gallery-img">
</div>
  